/* Универсальные настройки для отключения выделения текста */
html, body, canvas {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;  /* Safari */
    -khtml-user-select: none;   /* Konqueror HTML */
    -moz-user-select: none;     /* Старые версии Firefox */
    -ms-user-select: none;      /* Internet Explorer/Edge */
    user-select: none;          /* Современные браузеры */
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Onest', sans-serif;
    background: #000000;
    background-size: auto;
    background-attachment: fixed;
    z-index: 0;
}

.unity-canvas {
    display: block;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 2;
}

.canvas-overlay {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.loading-page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    z-index: 4;
}

.loading-page__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.logo {
    position: absolute;
    top: 4%;
    pointer-events: none;
    user-select: none;
    touch-action: none;
    -webkit-user-drag: none;
    max-width: 123px;
    max-height: 70px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 6;
}

#unity-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.loading-page__progress-bar {
    width: 100%;
    max-width: 85%;
    min-height: 10px;
    position: relative;
    z-index: 5;
}

.progress-bar {
    position: absolute;
    bottom: 8.5%;
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, #202A35 0%, #2A3E55 100%);
    border-radius: 119px;
    border: 3px solid #415D67;
    overflow: hidden;
    z-index: 5;
}

.progress-bar-fill {
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, #C8C3A4 0%, #C0FFE5 100%);
    border-radius: 119px;
    z-index: 5;
    transition: width 0.5s ease-in-out;
}

.progress-percentage {
    position: absolute;
    bottom: 3.9%;
    font-size: 16px;
    color: #C1F9DE;
    font-family: Arial, sans-serif;
    z-index: 5;
}

.collect-data-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 6;
}

.hidden {
display: none;
}

.text-comment {
    position: absolute;
    bottom: 14%;
    font-size: 14px;
    color: #FFCE50;
    text-align: center;
    width: 100%;
    max-width: 75%;
    pointer-events: none;
    z-index: 5;
}

#gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.gradient-overlay-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.female-asian {
    position: absolute;
    z-index: 2;
    margin-right: -270px;
    margin-top: 10vh;
}

.female-blond {
    position: absolute;
    margin-left: -280px;
    margin-top: 100px;
    z-index: 2;
}

.male-white {
    position: absolute;
    z-index: 1;
    margin-left: -120px;
}

.male-with-beard {
    position: absolute;
    z-index: 1;
    margin-right: -100px;
    margin-bottom: 10px;
}

.baloons {
    position: absolute;
    z-index: 3;
    margin-bottom: 250px;
    margin-left: 10px;
}
  