html, body, canvas {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

html, body {
    width: 100%;
    height: 100%;
    overflow: visible;
    padding: 0;
    margin: 0;
}

.unity-canvas {
    display: block;
    width: 100%;
    height: 100%;
    background: #000000;
    /* background: {{{ BACKGROUND_COLOR }}}; */
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-overlay {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
}

.loading-page {
    position: relative;
    display: flex;
    padding: 20px;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading-page__content {
    position: relative;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 250px;
    max-height: 250px;
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin-top: 4%;
}

#unity-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.loading-page__progress-bar {
    width: 100%;
    max-width: 800px;
    min-height: 10px;
    top: 10%;
}

.progress-bar {
    position: relative;
    height: 10px;
    width: 100%;
    background: linear-gradient(90deg, #202A35 0%, #2A3E55 100%);
    border-radius: 25px;
    border: 3px solid #415D67;
    overflow: hidden;
}

.progress-bar-fill {
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, #C8C3A4 0%, #C0FFE5 100%);
    border-radius: 50px;
    transition: width 0.5s ease-in-out;
}
